@mixin circle($size) {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 200px;
.ProgressPieChart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #e5e5e5;
  position: relative;
  &.gt50 {
    background-color: #8965e0;
  }
}
.PpcProgress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .PpcProgressFill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #8965e0;
    transform: rotate(60deg);
  }
  .gt50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .PpcProgressFill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #e5e5e5;
    }
  }
}
.PpcPercents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #8965e0;
  }
}
.PpcPercentsWrapper {
  display: table-cell;
  vertical-align: middle;
}

.Text {
  font-size: 21px;
  font-weight: 800;
  color: #8965e0;
}
