@mixin circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size/2});
    top: calc(50% - #{$size/2});
    width: $size;
    height: $size;
  }
  
  $size: 200px;
  .ProgressPieChart {
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    &.gt-50 {
      background-color: #81CE97;
    }
  }
  .PpcProgress {
    @include circle($size);
    clip: rect(0, $size, $size, #{$size/2});
    .PpcPercentsFill {
      @include circle($size);
      clip: rect(0, #{$size/2}, $size, 0);
      background: #81CE97;
      transform: rotate(60deg);
    }
    .gt-50 & {
      clip: rect(0, #{$size/2}, $size, 0);
      .PpcPercentsFill {
        clip: rect(0, $size, $size, #{$size/2});
        background: #E5E5E5;
      }
    }
  }
  .PpcPercents {
    @include circle(#{$size/1.15});
    background: #fff;
    text-align: center;
    display: table;
    span {
      display: block;
      font-size: 2.6em;
      font-weight: bold;
      color: #81CE97;
    }
  }
  .PpcPercentsWrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .ProgressPieChart {
    margin: 50px auto 0;
  }